test/
tests/
coverage/
.nyc_output/
.circleci/
.vscode/
docs/
jsdoc/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
commitlint.config.js
.env
.travis.yml
CHANGELOG.md
temp/
